<!DOCTYPE html>
<html lang="en">

<head>
  <title>Todos App</title>
</head>

<body>
  <h1>{{ title }}</h1>
  <h2>This app shows the todos for a user (from hbs file)</h2>

  <form>
    <input type="text" id="username">
    <button type="submit">Get Todos</button>
  </form>

  <p id="message"></p>
  <ul id="todos">

  </ul>

  <script src="/js/client.js"></script>
</body>

</html>